#full-site {
	background-color: #ECFEF7;
	
}

#welcome-section {
	background-color: #BDF9E2;
	color: blue;
	text-align: center;
	padding:10px
	
}

.intro {
	background-color: #ECFEF7;
	color: black;
	padding:0px;
	
}
#projects {
	
    background-color: #FAFBB9;	
	text-align: center;
	padding:20px;
}

#profile-link {
	
	    color: red;	
	
	padding:0px;
	
	
}
.project-title {
	
		font-size: 50%;
	    background-color: skyblue;	
	
	padding:0px;
	
	
}
