#full-site {
	background-color: #ECFEF7;
	
}

#welcome-section {
	background-color: #BDF9E2;
	color: blue;
	text-align: center;
	padding:10px
	
}

.intro {
	background-color: #ECFEF7;
	color: black;
	padding:0px;
	
}
#projects {
	
    background-color: #FAFBB9;	
	text-align: center;
	padding:20px;
}

#profile-link {
	
	    color: red;	
	
	padding:0px;
	
	
}
.project-title {
	
		font-size: 50%;
	    background-color: skyblue;	
	
	padding:0px;
	
	
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}

.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

#demo {
	
	background-color: black;
	
	color: white;
	
}